@{
    ViewData["Title"] = "Home Page";
}

@if (!this.User.Identity.IsAuthenticated)
{
    <div class="jumbotron w-75 mx-auto m-8">
        <h2 class="font-weight-bold">STP - The best LegalTech company in the world.</h2>
        <hr class="bg-dark h2" />
        <h3><a href="/Identity/Account/Login">Login</a> if you have an account.</h3>
        <h3><a href="/Identity/Account/Register">Register</a> if you don't have an account.</h3>
    </div>
}
else
{
    <div class="jumbotron w-75 mx-auto m-8">
        <h2 class="font-weight-bold text-center">Welcome, @this.User.Identity.Name</h2>
        <hr class="bg-dark h2" />
        <h4 class="text-center ">STP wishes you an exiting experience.</h4>
    </div>
}