@model  List<STPTask.Models.ViewModels.CompanyOfficesAllViewModel>
@{
    ViewData["Title"] = "AllOffices";
}

<div id="data-holder" class="w-75  mx-auto">
    <h1 class="text-center"> Offices</h1>
    <hr class="bg- hr-2" />
    <table class="table">
        <thead>
            <tr class="row mx-auto">
                <th class="col-md-2">Country</th>
                <th class="col-md-2">City</th>
                <th class="col-md-2">Street</th>
                <th class="col-md-2">Street Number</th>
                <th class="col-md-2">Type</th>
                <th class="col-md-2">Hire Employee</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
            <tr class="row mx-auto">
                <td class="col-md-2">@Model[i].Country</td>
                <td class="col-md-2">@Model[i].City</td>
                <td class="col-md-2">@Model[i].Street</td>
                <td class="col-md-2">@Model[i].StreetNumber</td>
                @if (Model[i].IsHeadquarter)
                {
                    <td class="col-md-2">Headquarter</td>
                }
                else
                {
                    <td class="col-md-2">Regular office</td>
                }
                <td class="col-md-2">
                    <a href="/Employee/HireEmployee?id=@Model[i].Id" class="btn bg-dark text-light">Hire Employee</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

